.search-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 25px 0;

    input{
        width: 200px;
        height: 25px;
        padding-left: 10px;
        outline: none;
        border:  2px solid rgb(158, 81, 30);
        border-radius: 5px;
        background-color: rgba(88, 40, 40, 0.568);
        color: white;
        
    }
    input::placeholder{
        color: rgba(255, 255, 255, 0.5);
    }
}


.each-movie-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0;
}

.all-movies-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
}

.movie-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
